.h1 {
  font-size: 55px;

  &:not(:last-child){
    margin-bottom: 1.5625rem;
  }
}

.h2{
  font-size: 35px;
  letter-spacing: 0;

  &:not(:last-child){
    margin-bottom: 2.5rem;
  }
}

.h3{
  font-size: 28px;
  letter-spacing: 0;

  &:not(:last-child){
    margin-bottom: 1.5625rem;
  }
}

.h4{
  font-size: 20px;
  letter-spacing: 0px;

  &:not(:last-child){
    margin-bottom: 0.75rem;
  }
}

.h5{
  font-size: 20px;
  letter-spacing: 0px;
}