.h1 {
  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}

.h2{
  font-size: 35px;
  letter-spacing: 0;

  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}

.h3{
  font-size: 24px;
  letter-spacing: 0;
  margin-top: 3.5rem;

  &:not(:last-child){
    margin-bottom: 2rem;
  }
}

.h4{
  font-size: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;

  &:not(:last-child){
    margin-bottom: 2.5rem;
  }
}