.h1 {
  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}

.h2{
  font-size: 45px;
  letter-spacing: 0;

  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}

.h3{
  font-size: 32px;
  letter-spacing: 0;
  margin-top: 3.5rem;

  &:not(:last-child){
    margin-bottom: 2rem;
  }
}

.h4{
  font-size: 24px;
  letter-spacing: 0px;
  margin-top: 2.5rem;

  &:not(:last-child){
    margin-bottom: 0.75rem;
  }
}