.font{
  font-family: 'Roboto Slab Regular', serif;
  font-size: 20px;
  color: rgba($corporate-color-3,0.8);
  letter-spacing: -0.11px;
  line-height: 1.7;
}

.margin{

  &:not(:last-child){
    margin-bottom: 2.5rem;
  }
}