.font{
  font-family: 'Roboto Slab Regular', serif;
  font-size: 18px;
  color: $copy-color;
  letter-spacing: -0.11px;
  line-height: 1.7;
}

.margin{

  &:not(:last-child){
    margin-bottom: 1.5625rem;
  }
}