.gui{
  width: 100% !important;
  background: black;

  @include lg{
    // width: 250px !important;
    // position: absolute;
    top: 0;
    right: 0;
  }

  .folder{
    // border: none !important;
  }

  .close-button{
    display: none;
    width: 100% !important;
  }
}
