{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						">0.25%",
						"not op_mini all"
					]
				},
				"modules": false,
				"useBuiltIns": "usage",
				"corejs":3
			},
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"syntax-dynamic-import",
		["prismjs", {
			"languages": ["javascript", "css", "markup", "bash"],
			"plugins": ["line-numbers", "autolinker", "file-highlight", "previewers", "command-line"],
			"theme": "default",
			"css": true
	}]
	]
}
