@import './../../../scss/mixins/media-queries.pcss';

.section{
  padding-bottom: 5rem;

  @include md{
    padding-bottom: 7.5rem;
  }

  &:nth-last-child(1){
    padding-bottom: 0;
  }
}

.componentGroup{
  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}
