.button{
  font-family: "Roboto-BlackItalic", sans-serif;
  font-size: 13px;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  border:none;
  margin-right: 15px;
  border-radius: 3px;
  padding: 1.25em 2em;
  box-shadow: 0 8px 15px 0 rgba($corporate-color-3,0.30);

  &:last-child{
    margin-right: 0;
  }

  &Primary{
    background: $corporate-color-2;
  }
  &Secondary{
    background: $corporate-color-1;
  }
}