.this{
  left: 0;
  color: #fff;
  background: #111f33;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  transition: color .3s linear,background .3s linear;
}

.progressBar{
  position: absolute;
  top: 100%;
  width: 100%;
}