
@value variables: './../../../scss/variables.scss';
@value corporate-color-1, corporate-color-2, corporate-color-3 from variables;

.corporate-color-1{
  fill: corporate-color-1;
}

.corporate-color-2{
  fill: corporate-color-2;
}

.corporate-color-3{
  fill: corporate-color-3;
}

.gradient{
  fill:url(#SVGID_1_);
}
