@import './../../../scss/mixins/media-queries.pcss';

.corporate-color-1{
  fill: $corporate-color-1;
}

.corporate-color-2{
  fill: $corporate-color-2;
}

.corporate-color-3{
  fill: $corporate-color-3;
}

.gradient{
  fill:url(#SVGID_1_);
}

.large{
  width: 16em;
  height: auto;
  margin-bottom: 2em;

  &:last-child{
    margin-bottom: 0;
  }

  @include sm{
    width: 20em;
  }

  @include lg{
    width: 24em;
  }
}

.small{
  height: 21px;
  width: auto
}