/*=============================
=            fonts            =
=============================*/

/*----------  require fonts  ----------*/

// Amsi Pro Bold
@font-face {
	font-family: 'AmsiPro-Bold';
	src: resolve('33C879_0_0.eot');
	src: resolve('33C879_0_0.eot?#iefix') format('embedded-opentype'),
		resolve('33C879_0_0.woff?__blob=publicationFile') format('woff'),
		resolve('33C879_0_0.ttf?__blob=publicationFile') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Amsi Pro Condensed Bold
@font-face {
	font-family: 'AmsiProCond-Bold';
	src: resolve('33C879_1_0.eot');
	src: resolve('33C879_1_0.eot?#iefix') format('embedded-opentype'),
		resolve('33C879_1_0.woff?__blob=publicationFile') format('woff'),
		resolve('33C879_1_0.ttf?__blob=publicationFile') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Amsi Pro Condensed Regular
@font-face {
	font-family: 'AmsiProCond-Regular';
	src: resolve('33C879_3_0.eot');
	src: resolve('33C879_3_0.eot?#iefix') format('embedded-opentype'),
		resolve('33C879_3_0.woff?__blob=publicationFile') format('woff'),
		resolve('33C879_3_0.ttf?__blob=publicationFile') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Amsi Pro Narrow Bold
@font-face {
	font-family: 'AmsiProNarw-Bold';
	src: resolve('33C879_4_0.eot');
	src: resolve('33C879_4_0.eot?#iefix') format('embedded-opentype'),
		resolve('33C879_4_0.woff?__blob=publicationFile') format('woff'),
		resolve('33C879_4_0.ttf?__blob=publicationFile') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Amsi Pro Narrow Regular
@font-face {
	font-family: 'AmsiProNarw-Regular';
	src: resolve('33C879_6_0.eot');
	src: resolve('33C879_6_0.eot?') format('embedded-opentype'),
		resolve('33C879_6_0.woff?__blob=publicationFile') format('woff'),
		resolve('33C879_6_0.ttf?__blob=publicationFile') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Amsi Pro Narrow UltraItalic
@font-face {
	font-family: 'AmsiProNarw-UltraItalic';
	src: resolve('33C879_7_0.eot');
	src: resolve('33C879_7_0.eot?#iefix') format('embedded-opentype'),
		resolve('33C879_7_0.woff?__blob=publicationFile') format('woff'),
		resolve('33C879_7_0.ttf?__blob=publicationFile') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*----------  font mixins  ----------*/

/**

	USAGE:
	- @include font('FONT ALIAS', $fontSize, $lineHeight, $letter-spacing);

 **/

@mixin font($id, $fontSize, $lineHeight, $letter-spacing) {

	/* set font alias */
	@if $id == 'bold' {
		font-family: 'AmsiPro-Bold';
	}
	@else if $id == 'narrow-bold'{
		font-family: 'AmsiProNarw-Bold';
	}
	@else if $id == 'narrow-regular'{
		font-family: 'AmsiProNarw-Regular';
	}
	@else if $id == 'narrow-italic'{
		font-family: 'AmsiProNarw-UltraItalic';
	}
	@else if $id == 'cond-bold'{
		font-family: 'AmsiProCond-Bold';
	}
	@else if $id == 'cond-regular'{
		font-family: 'AmsiProCond-Regular';
	}

	/* set font values */
	font-size: $fontSize;
	font-style: normal;
	font-weight: normal;
	letter-spacing: calc($fontSize * $letter-spacing / 1000);

	/* set line-height */
	@if $lineHeight == none {
		/* don't return line-height */
	}
	@else if $lineHeight == normal{
		line-height: normal;
	}
	@else{
		line-height: $lineHeight;
	}
}

/*=====  End of fonts  ======*/
