/*================================
=            px-to-vw            =
================================*/

@mixin px-to-vw($property, $value, $viewport) {
	$(property): calc(strip($value) / strip($viewport) * 100vw);
}

/*=====  px-to-vw  ======*/
