.box{
  position: relative;
  background: rgba($corporate-color-2, 0.35);
  font-size: 16px;
  letter-spacing: 0.07px;
  line-height: 26px;
  padding: 2.5em;

  &:before{
    content:'';
    display: block;
    width: 5px;
    height: 100%;
    background: $corporate-color-2;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.margin{
  &:not(:last-child){
    // margin-bottom: 2.5rem;
  }
}