.aspectRatio{
  position: relative;
  width: 100%;
  padding-bottom: calc(9 / 16 * 100%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.canvas{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $corporate-color-3;
}

.margin{
  &:not(:last-child){
    margin-bottom: 2.5rem;
  }
}