.link{
}

.sidebar{
  display: block;
  font-size: 16px;
  padding: 0.5em 0;
  transition: all .1s, transform .2s cubic-bezier(.455,.03,.515,.955);
  transform: translateX(5px);

  &:hover, &Active{
    color: red;
    transform: none;
  }
}
